-
    var expierence = [
        {
            title: 'Principal Web Developer',
            company: 'Sabre',
            time: '2014 - Present',
            features: [
                'Developed, manage and maintain 10+ corporate websites and numerous web apps/tools for both internal and external use.',
                'Convert PSD designs/mockups into fully functional landing pages, web apps, and websites.',
                'Manage multiple projects at one time, with quick turnarounds.',
                'Work in both front-end and back-end environments.',
                'Primary point of contact for system engineers, and work closely with them to set up, configure, maintain, and migrate server environments when needed.',
                'Oversaw and managed 2 complete server migrations (server upgrades).',
                'Created a web framework, based on the enterprise design framework, to increase productivity and provide a resource for other web developers/designers in the company for quick design, prototyping, and development.',
                'Manage, organize and control the corporate git instance for the Corporate Communications creative department.',
                'Promoted from Senior Web Developer to Principal Web Developer in August of 2017.'
            ]
        },
        {
            title: 'Web Developer',
            company: 'House of Sticks',
            time: '2015 - Present',
            features: [
                'Develop a various assortments of online solutions from provided designs, for both websites and web apps.',
                'Wordpress theme and plugin development.',
                'Bolt CMS theme development.',
                'Site deployments, migrations, MySQL maintenance and data management.',
                'Shared hosting setup and configuration.'
            ]
        },
        {
            title: 'Web Developer',
            company: 'Interactive Exposure',
            time: '2011 - Present',
            features: [
                'Design and develop various assortments of online solutions.',
                'Wordpress theme and plugin development.',
                'Site deployments, migrations, MySQL maintenance and data management.'
            ]
        },
        {
            title: 'Graphic / Web Designer',
            company: 'Vican Group',
            time: '2011 - 2015',
            features: [
                'Designed print collateral including packaging, posters, signage, direct mail outs, banners, point-of-sale and point-of-purchase displays.',
                'Produced online graphics and HTML/CSS templates for websites related to retail products and services.',
                'Developed and worked on internal client based sales and promotional material online portals.'
            ]
        },
        {
            title: 'Market Art Director',
            company: 'Apartment Finder',
            time: '2005 - 2014',
            features: [
                'Responsible for the design and production of a 500+ page magazine.',
                'Designed and developed an intranet PDF archive web site to host published pages/ads that was searchable and available to the entire regions sales staff. Allowed the staff to quickly reference a page/ad by keyword, client, issue, page number or a combination.',
                'Worked mainly with Adobe Indesign, Photoshop, and Illustrator.',
                'Created various designs and working concepts of ads to assist the sales staff in the field.'
            ]
        },
        {
            title: 'Junior Graphic Designer',
            company: 'Intra-Graphics',
            time: '2005',
            features: [
                'Designed logos, print collateral, PSD web layouts, and other various point-of-sale marketing material for local/regional clients.',
                'Designed and developed emails and static campaign landing pages in HTML/CSS.'
            ]
        }
    ]
-
