-
    var expierence = [
        {
            title: 'Principal Web Developer',
            company: 'Sabre',
            time: '2014 - Present',
            features: [
                'Develop and update 10+ corporate external websites.',
                'Develop and update multiple internal web applications for simplifying workflows and enabling employee engagement.',
                'Utilized both Vue and React front-end frameworks.',
                'Created custom API endpoints to request data from back-end.',
                'Manage multiple projects at one time, with quick turnarounds.',
                'Full stack developer, working on both front-end and back-end.',
                'Worked closely with designer, both web and UI/UX for testing, wire-framing, mock-ups and all assets.',
                'Work closely with devops teams to set up, configure, and maintain server environments when needed.',
                'Manage all deployments, migrations, databases and data on the Global Communications server environments.',
                'Oversaw and managed three complete server migrations to newer environments.',
                'Created a web framework, based on the enterprise design framework, to increase productivity and provide a resource for other web developers/designers in the company for quick design, prototyping, and development.',
                'Manage the corporate git repositories for the Global Communications creative department.',
                'Promoted from Senior Web Developer to Principal Web Developer in August of 2017.'
            ]
        },
        {
            title: 'Web Developer',
            company: 'House of Sticks',
            time: '2015 - Present',
            features: [
                'Develop a varity of online solutions from provided designs, for both websites and web applications.',
                'Custom Wordpress theme and plugin development.',
                'Laravel applicaiton development, with Vue/React front-ends.',
                'Business automation solutions.',
                'Site deployments, migrations, database and data management.',
                'Hosting setup, configuration, and management.'
            ]
        },
        {
            title: 'Web Developer',
            company: 'Interactive Exposure',
            time: '2011 - Present',
            features: [
                'Develop a varity of online solutions from provided designs, for both websites and web applications.',
                'Wordpress theme and plugin development.',
                'Site deployments, migrations, and maintenance.'
            ]
        },
        {
            title: 'Graphic / Web Designer',
            company: 'Vican Group',
            time: '2011 - 2015',
            features: [
                'Designed print collateral including packaging, posters, signage, direct mail outs, banners, point-of-sale and point-of-purchase displays.',
                'Produced online graphics and HTML/CSS templates for websites related to retail products and services.',
                'Developed and worked on internal client based sales and promotional material.',
                'Created various web based customer portals for internal organizational use.',
                'Customized and/or re-skinned vendor dashboards (with the ability to do so) to match client brand and visuals with custom stylesheets.'
            ]
        },
        {
            title: 'Market Art Director',
            company: 'Apartment Finder',
            time: '2005 - 2014',
            features: [
                'Responsible for the design and production of a 500+ page magazine.',
                'Designed and developed an intranet PDF archive web site to host published pages/ads that was searchable and available to the entire regions sales staff. Allowed the staff to quickly reference a page/ad by keyword, client, issue, page number or a combination.',
                'Worked mainly with Adobe Indesign, Photoshop, and Illustrator.',
                'Created various designs and working concepts of ads to assist the sales staff in the field.'
            ]
        },
        {
            title: 'Graphic Designer',
            company: 'Intra-Graphics',
            time: '2005',
            features: [
                'Designed logos, print collateral, webpages, and other various point-of-sale marketing material for local/regional clients.',
                'Designed and developed email templates and landing page templates in HTML/CSS.'
            ]
        }
    ]
-
