-
    var expierence = [
        {
            title: 'Principal Web Developer',
            company: 'Sabre',
            time: '2014 - Present',
            features: [
                'Developed, manage and maintain 10+ corporate websites and numerous web apps/tools for both internal and external use.',
                'Convert PSD designs/mockups into fully functional landing pages, web apps, and websites.',
                'Manage multiple projects at one time, with quick turnarounds.',
                'Work in both front-end and back-end environments.',
                'Primary point of contact for system engineers, and work closely with them to set up, configure, maintain, and migrate server environments when needed.',
                'Oversaw and managed 2 complete server migrations (server upgrades).',
                'Created a web framework, based on the enterprise design framework, to increase productivity and provide a resource for other web developers/designers in the company for quick design, prototyping, and development.',
                'Manage, organize and control the corporate git instance for the Corporate Communications creative department.',
                'Promoted from Senior Web Developer to Principal Web Developer in August of 2017.'
            ]
        }
    ]
-
