-
    var expierence = [
        {
            title: 'Principal Web Developer',
            company: 'Sabre',
            time: '2014 - Present',
            type: 'Full Time',
            description: 'As Principal Web Developer for the Global Communications team at Sabre, my responsibilities vary day-to-day, allowing me a wide variety of experiences and challenges from project-to-project. Many of the responsibilities presented daily include, but are not limited to, developing and updating websites and web application code bases, data management and organization, client management, engagement, and project management. Facing these new and unique challenges everyday help keep my problem solving, and development skills competitive.', 
            features: [
                'Full stack web developer, working on both front-end and back-end.',
                'Responsible for defining, developing, and evolving websites and web applications in a fast paced and agile development environment.',
                'Design, develop, troubleshoot, debug, test, ensure browser compatibility, and implement source code by using HTML, CSS, Javascript, PHP and MySQL.',
                'Provide thought leadership to the team around new approaches, workflows and technologies.',
                'Perform technical analyses for development of new features.',
                'Track, patch, and update reported bugs, issues or any functionality problems that may arise.',
                'Conceptualized, designed, and developed internal automated software and web applications for simplifying workflows and enabling employee engagement with minimal human intervention.',
                'Utilized both VueJS and ReactJS front-end frameworks.',
                'Develop and maintain a custom in-house Wordpress theme for use on corporate websites and blogs, to allow the ability to spin up new - on brand - websites quickly and efficiently.',
                'Extended Wordpress functionality and security with custom tailored plugin development.',
                'Enhanced the core Wordpress Rest API capabilities to allow data sharing between multiple websites and applications.',
                'Self-manage multiple projects at one time, with tight turnarounds and deadlines.',
                'Partner closely with designers, both web and UI/UX for testing, wire-framing, mock-ups and all assets.',
                'Work closely with devops (development and operations) teams to configure, administer, and deploy server environments when needed - this includes testing new features and technology at the infrastructure level.',
                'Responsible for all source code deployments, migrations, database management and data on the Global Communications server environments.',
                'Oversaw and managed three different server migrations to new and upgraded environments, including the transition into cloud infrastructure.',
                'Utilized the corporate in-house, Bootstrap like, front-end/design framework to create reusable web components for quicker development and prototyping.',
                'Manage the corporate git repositories for the Global Communications creative department.',
                'Train, manage and provide guidance to junior software development staff.',
                'Promoted from Senior Web Developer to Principal Web Developer in August of 2017.'
            ]
        },
        {
            title: 'Full Stack Developer',
            company: 'House of Sticks',
            time: '2015 - Present',
            type: 'Freelance',
            description: 'Working on a wide variety of projects, being the lead Full Stack Developer for House of Sticks allows me to break out of the day-to-day and experiment with new technologies and processes.',
            features: [
                'Full stack developer, working on both front-end and back-end.',
                'Experience developing a variety of web applications and websites - typically from a provided design, mockup, or prototype.',
                'Developed automated software which manages data intake and organization without human intervention.',
                'Custom Wordpress theme and plugin development.',
                'Website maintenance including feature enhancement and bug patches.',
                'Laravel application development, with Vue/React front-ends.',
                'REST API development.',
                'Business automation development - creating applications to handle a manual task or process large amounts of data.',
                'Application and website deployments, migrations, database and data management.',
                'Environment/server setup, configuration, and management - primarily in the LAMP (Linux, Apache, MySQL, PHP) stack.'
            ]
        },
        {
            title: 'Web Developer',
            company: 'Interactive Exposure',
            time: '2011 - 2018',
            type: 'Freelance',
            description: 'Primarily focusing on website development, specifically Wordpress websites, as a Web Developer for Interactive Expsoure my expierence with CMS (Content Management System) development, and data organization expanded to new levels.',
            features: [
                'Primarily develop custom Wordpress websites, or work with client to customize a purchased theme.',
                'Ongoing website maintenance for existing clients - including new features, functionality enhancements, and bug patches.',
                'Wordpress theme and plugin development.',
                'Site deployments, migrations, and maintenance.'
            ]
        },
        {
            title: 'Graphic / Web Designer',
            company: 'Vican Group',
            time: '2011 - 2015',
            type: 'Freelance',
            description: null,
            features: [
                'Designed print collateral including packaging, posters, signage, direct mail outs, banners, point-of-sale and point-of-purchase displays.',
                'Produced online graphics and HTML/CSS templates for websites related to retail products and services.',
                'Developed and worked on internal client based sales and promotional material.',
                'Created various web based customer portals for internal organizational use.',
                'Customized and/or re-skinned vendor dashboards (with the ability to do so) to match client brand and visuals with custom stylesheets.'
            ]
        },
        {
            title: 'Market Art Director',
            company: 'Apartment Finder',
            time: '2005 - 2014',
            type: 'Full Time',
            description: 'Being the Market Art Director at Apartment Finder Magazine primarily consisted of print ad production with tight deadlines. File organization, name conventions and time management were required skillsets for this role.',
            features: [
                'Responsible for the design and production of a 500+ page magazine.',
                'Self-managed day-to-day timelines.',
                'Designed and developed an intranet PDF archive web site to host published pages/ads that was searchable and available to the entire regions sales staff. Allowed the staff to quickly reference a page/ad by keyword, client, issue, page number or a combination.',
                'Worked mainly with Adobe Indesign, Photoshop, and Illustrator.',
                'Created various designs and working concepts of ads to assist the sales staff in the field.'
            ]
        },
        {
            title: 'Graphic Designer',
            company: 'Intra-Graphics',
            time: '2005',
            type: 'Full Time',
            description: null,
            features: [
                'Designed logos, print collateral, webpages, and other various point-of-sale marketing material for local/regional clients.',
                'Designed and developed email and landing page templates in HTML/CSS.'
            ]
        }
    ]
-
