-
    var projects = [
        {
            title: "Live At Magnolia",
            client: "House of Sticks / Magnolia",
            stack: "Wordpress, PHP, JS",
            thumb: { 
                desktop: "liveatmagnolia-desktop.jpg",
                mobile: "liveatmagnolia-mobile.jpg" 
            },
            desc: {
                main: "Full development for a interactive creative agency I have worked with in the past.",
                more: "House of Sticks is involved in, but not limited to, video production, web design and development, mobile app development, photography, and much more. I have completed several projects for this agency, and have an on-going relationship with them."
            },
            link: "www.liveatmagnolia.com",
            features:[
                "Fully responsive for accessibility of all content on any device.",
                "Custom Wordpress theme, built with a specific use case tailored to the design of the site.",
                "Library of custom Wordpress shortcodes to assist in building various content layouts and adding design elements with no coding required.",
                "Custom Wordpress metaboxes built into the theme to create an easy to use backend for the agency to update and manage the site in house.",
            ]
        },
        {
            title: "Magnolia Property Company",
            client: "House of Sticks / Magnolia",
            stack: "Wordpress, PHP, JS",
            thumb: { 
                desktop: "magnoliapropcompany-desktop.jpg",
                mobile: "magnoliapropcompany-mobile.jpg" 
            },
            desc: {
                main: "Provides visual communications solutions for their clients, including packaging, signage, and displays.",
                more: "This site was developed with the idea of 'modularity' in mind. Custom wordpress plugins were created (WP Content Modules) in order to provide a varity of page layouts just using shortcodes. Clever background-image and gradient overlay CSS allowed for the colorful gradient effects that most of the 'hero' type background images posess."
            },
            link: "www.ororavisual.com",
            features:[
                "Fully responsive for accessibility and use on any device.",
                "CSS3 gradient overlay and opacity effects.",
                "Custom Wordpress plugin for creation of reuseable content modules.",
                "Full library of Wordpress shortcodes to allow various page layouts with a single page template.",
                "Dynamic Google map markers generation based on Office Locaitons."
            ]
        },
        {
            title: "Sabre Air Merchandising",
            client: "Sabre",
            stack: "Wordpress, PHP, HTML, CSS, JS",
            thumb: { 
                desktop: "sabreairmerchandising-desktop.jpg",
                mobile: "sabreairmerchandising-mobile.jpg" 
            },
            desc: {
                main: "New website development for a Christian ministry training organization that reaches all corners of the globe.",
                more: "One of the biggest requirements for this site was ease of use for the site owner, this included a well thought out an organized backend/dashboard for content curation."
            },
            link: "www.forefrontexperience.com",
            features:[
                "Fully responsive for accessibility and use on any device.",
                "Custom Wordpress theme development for this specific design to optimize page load.",
                "Several page templates to allow site admin to build out divese pages with minimal effort.",
                "Library of custom Wordpress shortcodes to assist in building various content layouts and adding design elements with no coding required.",
                "Custom Wordpress metaboxes built into content types to ensure needed content is provided for chosen template."
            ]
        },
        {
            title: "Marie & Russell",
            client: "Personal",
            stack: "Bootstrap, JS, PHP, MySQL",
            thumb: { 
                desktop: "marieandrussell-desktop.png",
                mobile: "marieandrussell-mobile.png" 
            },
            desc: {
                main: "Couples wedding website primarily for general event and ceremony information and to accept rsvps and comments.",
                more: "Post ceremony, this website also contains a stand alone gallery web app containing the full selection of photos taken during this wonderful occasion. The gallery can also be shared via a custom 'send to a friend' feature via email."
            },
            link: "www.marieandrussell.com",
            features:[
                "Design and full development.",
                "Fully responsive for both the ceremony website and gallery web app.",
                "Custom image favoriting system with PHP, JS/Ajax, and MySQL.",
                "Custom jQuery modal/lightbox filled with dynamic content from the DOM.",
                "Interactive map, using Google Map API, showing important locations for the event with custom location icons.",
                "Facebook, Twitter, and Email sharing."
            ]
        }
    ]
-
