-
    var projects = [
        {
            title: "Live At Magnolia",
            client: "Magnolia / House of Sticks",
            stack: "Wordpress, PHP, JS",
            thumb: { 
                desktop: "liveatmagnolia-desktop.jpg",
                mobile: "liveatmagnolia-mobile.jpg" 
            },
            desc: {
                main: "Property management marketing website for prospective residents to browse properties, amenities, and general information.",
                more: "This website was developed to be used as the main marketing tool for this property management company. All the properies the company manages are listed and maintained via a highly customized Wordpress backend."
            },
            link: "www.liveatmagnolia.com",
            features:[
                "Fully responsive for accessibility of all content on any device.",
                "Custom Wordpress theme, built with a specific use case tailored to the design of the site.",
                "Customized content types to handle and maintain property information/data.",
                "Utilizes a REST API to share property information with the corporate website.",
                "Dynamic forms built into the theme and are pre-populated with property information.",
                "Dynamic Google Maps API integration for property location and neighborhood information",
                "Custom Wordpress backend built into the theme to create an easy to use backend for the company to update and completely manage the site in house."
            ]
        },
        {
            title: "Magnolia Property Company",
            client: "Magnolia / House of Sticks",
            stack: "Wordpress, PHP, JS",
            thumb: { 
                desktop: "magnoliapropcompany-desktop.jpg",
                mobile: "magnoliapropcompany-mobile.jpg" 
            },
            desc: {
                main: "Property management company website for corporate and business realated inforamtion.",
                more: "This website was developed along side their customer facing LiveAtMagnolia.com to provide corporate and business related information about Magnolia Property Company."
            },
            link: "www.ororavisual.com",
            features:[
                "Fully responsive for accessibility and use on any device.",
                "Consumes a RESTful API from LiveAtMagnolia.com for all of the property information, allowing all data to be controlled in one place and preventing having to double publish the same information.",
                "The RESTful API data is controlled via a custom plugin. Allowing data reqested to be controlled from this site.",
                "Custom Wordpress backend built into the theme to create an easy to use backend for the company to update and completely manage the site in house.",
                "Javascript algorithms to calculate and combine various statistics about their property information. ",
                "Custom Wordpress theme, built with a specific use case tailored to the design of the site."
            ]
        },
        {
            title: "Sabre Air Merchandising",
            client: "Sabre Corporation",
            stack: "HTML, CSS, JS, PHP, MySQL",
            thumb: { 
                desktop: "sabreairmerchandising-desktop.jpg",
                mobile: "sabreairmerchandising-mobile.jpg" 
            },
            desc: {
                main: "Web application showcasing available ancilaries for airline carriers within the Sabre marketplace.",
                more: "This application allows a travel agent to quickly search and filter thru the available airline ancilaries offered in Sabre products, a very useful travel agent tool."
            },
            link: "www.sabretravelnetwork.com/airmerchandising",
            features:[
                "Fully responsive for accessibility and use on any device.",
                "Custom backend using Single Sign On APIs to allow the owner of the application to update information as needed, using employee login credentials.",
                "Backend fetches query results from the database, constructs a JSON object, which is then returned to the front end.",
                "Multi dimensional search and filter functionality to allow the user to find information quickly and accurately.",
                "Export results as a CSV for offline access.",
                "One of the most viewed and widely used applications for the targeted customer base on the corporate website."
            ]
        },
        {
            title: "Marie & Russell",
            client: "Personal",
            stack: "Bootstrap, JS, PHP, MySQL",
            thumb: { 
                desktop: "marieandrussell-desktop.png",
                mobile: "marieandrussell-mobile.png" 
            },
            desc: {
                main: "Couples wedding website primarily for general event and ceremony information and to accept rsvps and comments.",
                more: "Post ceremony, this website also contains a stand alone gallery web app containing the full selection of photos taken during this wonderful occasion. The gallery can also be shared via a custom 'send to a friend' feature via email."
            },
            link: "www.marieandrussell.com",
            features:[
                "Design and full development.",
                "Fully responsive for both the ceremony website and gallery web app.",
                "Custom image favoriting system with PHP, JS/Ajax, and MySQL.",
                "Custom jQuery modal/lightbox filled with dynamic content from the DOM.",
                "Interactive map, using Google Map API, showing important locations for the event with custom location icons.",
                "Facebook, Twitter, and Email sharing."
            ]
        }
    ]
-
