-
    var projects = [
        {
            title: "Marie & Russell",
            stack: "Bootstrap, JS, PHP, MySQL",
            thumb: { 
                desktop: "marieandrussell-desktop.png",
                mobile: "marieandrussell-mobile.png" 
            },
            desc: {
                main: "Couples wedding website primarily for general event and ceremony information and to accept rsvps and comments.",
                more: "Post ceremony, this website also contains a stand alone gallery web app containing the full selection of photos taken during this wonderful occasion. The gallery can also be shared via a custom 'send to a friend' feature via email."
            },
            link: "www.marieandrussell.com",
            features:[
                "Design and full development.",
                "Fully responsive for both the ceremony website and gallery web app.",
                "Custom image favoriting system with PHP, JS/Ajax, and MySQL.",
                "Custom jQuery modal/lightbox filled with dynamic content from the DOM.",
                "Interactive map, using Google Map API, showing important locations for the event with custom location icons.",
                "Facebook, Twitter, and Email sharing."
            ]
        },
        {
            title: "House of Sticks",
            stack: "Wordpress, PHP, JS",
            thumb: { 
                desktop: "marieandrussell-desktop.png",
                mobile: "marieandrussell-mobile.png" 
            },
            desc: {
                main: "Full development for a interactive creative agency I have worked with in the past.",
                more: "House of Sticks is involved in, but not limited to, video production, web design and development, mobile app development, photography, and much more. I have completed several projects for this agency, and have an on-going relationship with them."
            },
            link: "www.houseofsticks.com",
            features:[
                "Fully responsive for accessibility of all content on any device.",
                "Custom Wordpress theme, built with a specific use case tailored to the design of the site.",
                "Library of custom Wordpress shortcodes to assist in building various content layouts and adding design elements with no coding required.",
                "Custom Wordpress metaboxes built into the theme to create an easy to use backend for the agency to update and manage the site in house.",
            ]
        },
        {
            title: "Orora Visual",
            stack: "Wordpress, PHP, JS",
            thumb: { 
                desktop: "marieandrussell-desktop.png",
                mobile: "marieandrussell-mobile.png" 
            },
            desc: {
                main: "Provides visual communications solutions for their clients, including packaging, signage, and displays.",
                more: "This site was developed with the idea of 'modularity' in mind. Custom wordpress plugins were created (WP Content Modules) in order to provide a varity of page layouts just using shortcodes. Clever background-image and gradient overlay CSS allowed for the colorful gradient effects that most of the 'hero' type background images posess."
            },
            link: "www.ororavisual.com",
            features:[
                "Fully responsive for accessibility and use on any device.",
                "CSS3 gradient overlay and opacity effects.",
                "Custom Wordpress plugin for creation of reuseable content modules.",
                "Full library of Wordpress shortcodes to allow various page layouts with a single page template.",
                "Dynamic Google map markers generation based on Office Locaitons."
            ]
        },
        {
            title: "Forefront Experience",
            stack: "Wordpress, PHP, HTML, CSS, JS",
            thumb: { 
                desktop: "marieandrussell-desktop.png",
                mobile: "marieandrussell-mobile.png" 
            },
            desc: {
                main: "New website development for a Christian ministry training organization that reaches all corners of the globe.",
                more: "One of the biggest requirements for this site was ease of use for the site owner, this included a well thought out an organized backend/dashboard for content curation."
            },
            link: "www.forefrontexperience.com",
            features:[
                "Fully responsive for accessibility and use on any device.",
                "Custom Wordpress theme development for this specific design to optimize page load.",
                "Several page templates to allow site admin to build out divese pages with minimal effort.",
                "Library of custom Wordpress shortcodes to assist in building various content layouts and adding design elements with no coding required.",
                "Custom Wordpress metaboxes built into content types to ensure needed content is provided for chosen template."
            ]
        },
        // {
        //     title: "Huselton, Morgan & Maultsby",
        //     stack: "Wordpress, PHP, JS",
        //     thumb: { 
        //         desktop: "marieandrussell-desktop.png",
        //         mobile: "marieandrussell-mobile.png" 
        //     },
        //     desc: {
        //         main: "Design and development for a company focused on providing accounting services in the Southwest for over 35 years.",
        //         more: "This website was a fairly large build out, considering I worked on both the design and development of this project. The client wanted several content types, all easily manageable via the Wordpress dashboard. These content types would then display differently based on what ever content type you were viewing at that time, or default settings if you were on a global page like the home page."
        //     },
        //     link: "www.forefrontexperience.com",
        //     features:[
        //         "Design and full development.",
        //         "Fully responsive for accessibility and use on any device.",
        //         "Custom Wordpress theme development for this specific design and functionality.",
        //         "Multiple page templates to allow diverse page layouts with minimal effort.",
        //         "Various content types to help better organize and structure the content.",
        //         "Custom theme options page to handle global content, like the site footer and social sharing channels."
        //     ]
        // },
        // {
        //     title: "Next Worldwide",
        //     stack: "Wordpress, PHP, JS, HTML, CSS",
        //     thumb: { 
        //         desktop: "marieandrussell-desktop.png",
        //         mobile: "marieandrussell-mobile.png" 
        //     },
        //     desc: {
        //         main: "Redesign for an organization that plans and organizes mission trips to various areas of the world.",
        //         more: "A fun challenge on this project was to incorporate a system to handle the clients Mission Trip information. They wanted to be able to add trips based on Region and Demographic. I ended up creating a pretty complex filter & sorting function by using Wordpress categories and tags."
        //     },
        //     link: "www.nextworldwide.com",
        //     features:[
        //         "Design and full development.",
        //         "Fully responsive for accessibility and use on any device.",
        //         "Custom Wordpress theme development for this specific design and functionality.",
        //         "Complex content type created for 'Mission Trips'. This content type worked together with 'Locations' - another content type - to create a dynamic relationship between the two, which the user can sort and filter on the front end.",
        //         "Vast dynamic navigation functionality to create relationships between content types and menu types.",
        //         "Custom theme options page to handle global content, like the site footer and social sharing channels."
        //     ]
        // },
        // {
        //     title: "Stickane",
        //     stack: "Wordpress, PHP, JS, HTML, CSS",
        //     thumb: { 
        //         desktop: "marieandrussell-desktop.png",
        //         mobile: "marieandrussell-mobile.png" 
        //     },
        //     desc: {
        //         main: "Personal portfolio website for videographer and director to showcase their work.",
        //         more: "The design idea for this site was for a very simple 'show reel', and focus on the work rather than page after page of information."
        //     },
        //     link: "www.nextworldwide.com",
        //     features:[
        //         "Fully responsive for accessibility and use on any device.",
        //         "Uses Bolt as the CMS.",
        //         "Full viewport gesture supported slider/carousel generated dynamicallly by the content in the CMS.",
        //         "Custom full screen video modal feature for viewing the portfolio video, using Viemo and YouTube apis."
        //     ]
        // },
        // {
        //     title: "Orpargo",
        //     stack: "Wordpress, PHP, JS, HTML, CSS",
        //     thumb: { 
        //         desktop: "marieandrussell-desktop.png",
        //         mobile: "marieandrussell-mobile.png" 
        //     },
        //     desc: {
        //         main: "Design and development for an optimization engine to help health care professionals run their practice smoothly.",
        //         more: "Simple and clean 'one pager' website. On this project I did the design and full development using Wordpress as the CMS. Even with a one page template - the client wanted the ability to blog and have more complex internal pages if needed."
        //     },
        //     link: "www.nextworldwide.com",
        //     features:[
        //         "Design and full development.",
        //         "Fully responsive for accessibility and use on any device.",
        //         "Custom Wordpress theme development for this specific design and functionality.",
        //         "Parallax design and elements.",
        //         "Custom home page template that generates all content via other pages and content types within Wordpress."
        //     ]
        // },
    ]
-
