-
    var repos = [
        {
            title: "eGreeting Cards",
            desc: "Single page application to create and send eCards to up to 100 recipients at a time with customizable designs, colors, and messaging",
            link: "https://github.com/russellramey/vue-ecards",
        },
        {
            title: "Microsoft Graph WP Login",
            desc: "Enable basic SSO (single sign on) authentication by logging in to Wordpress via Microsoft Graph API using an enterprise organization active directory.",
            link: "https://github.com/russellramey/ms-graph-wplogin",
        },
        {
            title: "Easy ReCAPTCHA",
            desc: "Easily enable and append a ReCaptcha to the default Wordpress login page and action using the Google ReCAPTCHA API.",
            link: "https://github.com/russellramey/easy-wp-recaptcha",
        },
        {
            title: "WP Public Previews",
            desc: "Wordpress plugin to enable non logged in users to view posts or pages in draft status with a unqiue url and access token.",
            link: "https://github.com/russellramey/wp-public-previews",
        },
        {
            title: "Quicktips",
            desc: "Lightweight JS function to dynamically add tooltips to html elements. No dependencies required. Very simple way to add tooltip labels to your application.",
            link: "https://github.com/russellramey/quicktips",
        },
        {
            title: "Simple Countdown",
            desc: "Countdown timer with vanilla javascirpt requiring no dependencies.",
            link: "https://github.com/russellramey/simple-countdown",
        },
    ]
-
