-
    var repos = [
        {
            title: "Substrate",
            desc: "Basic starter theme for the developer in mind. Use this theme as a basis to build your custom wordpress site upon.",
            link: "#github",
        },
        {
            title: "Quicktips",
            desc: "Lightweight JS function to dynamically add tooltips to html elements. No dependencies required. Very simple way to add tooltip labels to your application.",
            link: "#github",
        },
        {
            title: "WP Content Modules",
            desc: "Wordpress plugin that allows you to build pages modularly. Create simple, repeateable, blocks of content that can be used anywhere with the generated [module] shortcode.",
            link: "#github",
        },
        {
            title: "WP Public Previews",
            desc: "Wordpress plugin to enable non logged in users to view posts or pages in draft status with a unqiue url and access token.",
            link: "#github",
        },
        {
            title: "Microsoft Graph OAuth",
            desc: "Microsoft Graph OAuth example script using PHP using no dependencies or frameworks and saves auth response in a cookie.",
            link: "#github",
        },
        {
            title: "Simple Countdown",
            desc: "Countdown timer with vanilla javascirpt requiring no dependencies.",
            link: "#github",
        },
    ]
-
