-
    var tech = [
        {
            title: "HTML5",
            icon: "language-html5",
        },
        {
            title: "CSS3",
            icon: "language-css3",
        },
        {
            title: "Sass",
            icon: "sass",
        },
        {
            title: "Bootstrap",
            icon: "bootstrap",
        },
        {
            title: "Javascript",
            icon: "language-javascript",
        },
        {
            title: "NodeJS",
            icon: "nodejs",
        },
        {
            title: "PHP",
            icon: "language-php",
        },
        {
            title: "Docker",
            icon: "docker",
        },
        {
            title: "VueJS",
            icon: "vuejs",
        },
        {
            title: "Laravel",
            icon: "laravel",
        },
        {
            title: "Wordpress",
            icon: "wordpress",
        },
        {
            title: "Git",
            icon: "git",
        }
    ]
    // var tech = [
    //     {
    //         title: "HTML5",
    //         icon: "logo_html.svg",
    //     },
    //     {
    //         title: "CSS3",
    //         icon: "logo_css.svg",
    //     },
    //     {
    //         title: "Javascript",
    //         icon: "logo_js.svg",
    //     },
    //     {
    //         title: "PHP",
    //         icon: "logo_php.svg",
    //     },
    //     {
    //         title: "Bootstrap",
    //         icon: "logo_bootstrap.svg",
    //     },
    //     {
    //         title: "Sass",
    //         icon: "logo_sass.svg",
    //     },
    //     {
    //         title: "VueJS",
    //         icon: "logo_vue.svg",
    //     },
    //     {
    //         title: "Laravel",
    //         icon: "logo_laravel.svg",
    //     },
    //     {
    //         title: "Wordpress",
    //         icon: "logo_wordpress.svg",
    //     },
    //     {
    //         title: "Docker",
    //         icon: "logo_docker.svg",
    //     },
    //     {
    //         title: "MySQL",
    //         icon: "logo_mysql.svg",
    //     },
    //     {
    //         title: "Git",
    //         icon: "logo_git.svg",
    //     }
    // ]
-
