-
    var work = [
        {
            title: "TBarM.org",
            client: "T Bar M",
            stack: "Wordpress, PHP, JS",
            thumb: { 
                desktop: "tbarm-desktop.jpg",
                mobile: "tbarm-mobile.jpg" 
            },
            desc: {
                main: "An organization that hosts camps and retreats all year long for all ages and families.",
                more: "This website acts as the organizations main website with company info, promotions, as well as event calendars and agendas."
            },
            link: "www.tbarm.org",
            features:[
                "Fully responsive for accessibility of all content on any device.",
                "Custom Wordpress theme, built with a specific use case tailored to the design of the site.",
                "Utilizes a REST API to dynamically import event/camp information from the registration vendor.",
                "REST API is used to get the availability and booking information from registration vendor.",
                "Tailored PHP and Javascript functions process and format data from API to be utilized by Wordpress.",
                "Modular backend to allow client to organize content and create reusable content easily.",
                "Customizable content blocks allow creation of unique page layouts dynamically."
            ]
        },
        {
            title: "Customer On-boarding Portal",
            client: "Caliber Home Loans",
            stack: "Laravel, Vue, Bootstrap",
            thumb: { 
                desktop: "caliber-desktop.jpg",
                mobile: "caliber-mobile.jpg" 
            },
            desc: {
                main: "In-house customer on-boarding portal for new customers of Caliber Home Loans. This applicatoin provides each customer a unique url to view a personalized video.",
                more: "In addition, this application is 90% automation, with only the admin GUI interface serving as a way to make edits or add small batches of customers at a single time. Customers and customer profiles are imported via a CSV that can be manually uploaded via the GUI, or uploaded to the clients SFTP server. This application processes the CSV, generates a unique id and url for each customer, then adds the customer details to the application database. The front end is a simple landing page with a Vimeo video and personalized customer information displayed in HTML overlaid over the video. The main goal of this application was to streamline a vary manual process for the client."
            },
            link: null,
            features:[
                "Business automation application: reads, processes, and writes processed data with minimal human interaction.",
                "Backend is Laravel, Front End is Vue and Bootstrap.",
                "Reads and writes CSV files for easy upload/export.",
                "Custom search with exportable search results.",
                "CSV exports formatted in a way to be ingested by clients CRM tool to generate and send customer emails automatically.",
                "Customer personal urls and information can be deleted automatically after desired expiration time, set within the application settings.",
                "Uses the Vimeo player API to control the timecode and playback of the video on the front end.",
                "Customer information is overlaid in HTML on top of the video player, thus allowing a single video source to be used."
            ]
        },
        {
            title: "Live At Magnolia",
            client: "Magnolia",
            stack: "Wordpress, PHP, JS",
            thumb: { 
                desktop: "liveatmagnolia-desktop.jpg",
                mobile: "liveatmagnolia-mobile.jpg" 
            },
            desc: {
                main: "Property management marketing website for prospective residents to browse properties, amenities, and general information.",
                more: "This website was developed to be used as the main marketing tool for this property management company. All the properties the company manages are listed and maintained via a highly customized Wordpress backend."
            },
            link: "www.liveatmagnolia.com",
            features:[
                "Fully responsive for accessibility of all content on any device.",
                "Custom Wordpress theme, built with a specific use case tailored to the design of the site.",
                "Customized content types to handle and maintain property information/data.",
                "Utilizes a REST API to share property information with the corporate website.",
                "Dynamic forms built into the theme and are pre-populated with property information.",
                "Dynamic Google Maps API integration for property location and neighborhood information.",
                "Custom Wordpress backend built into the theme to create an easy to use backend for the company to update and completely manage the site in house."
            ]
        },
        {
            title: "Magnolia Property Company",
            client: "Magnolia",
            stack: "Wordpress, PHP, JS",
            thumb: { 
                desktop: "magnoliapropcompany-desktop.jpg",
                mobile: "magnoliapropcompany-mobile.jpg" 
            },
            desc: {
                main: "Property management company website for corporate and business related information.",
                more: "This website was developed alongside their customer facing LiveAtMagnolia.com to provide corporate and business related information about Magnolia Property Company."
            },
            link: "www.magnoliapropertycompany.com/",
            features:[
                "Fully responsive for accessibility and use on any device.",
                "Consumes a RESTful API from LiveAtMagnolia.com for all of the property information, allowing all data to be controlled in one place and preventing having to double publish the same information.",
                "RESTful API data is enabled via a custom plugin, allowing all data requested to be managed from within this site.",
                "Custom Wordpress backend built into the theme to create an easy to use backend for the company to update and completely manage the site in house.",
                "Javascript basic algorithms to calculate various statistics about total and individual property information.",
            ]
        },
        {
            title: "HOS TV",
            client: "House of Sticks",
            stack: "Bolt, PHP, JS",
            thumb: { 
                desktop: "hostv-desktop.jpg",
                mobile: "hostv-mobile.jpg" 
            },
            desc: {
                main: "Portfolio showcasing video work from production company and the company directors.",
                more: "This website is intended to showcase the work for video production company, House of Sticks. The sites main purpose is to show work quickly with minimum effort by the user."
            },
            link: "houseofsticks.tv",
            features:[
                "Fully responsive for accessibility and use on any device.",
                "Custom CMS administration via Bolt CMS.",
                "Easy to use backend for website owner, with the ability to upload new videos directly to video hosting services.",
                "Video previews on homepage.",
                "Custom video player overlay on single project view."
            ]
        },
        {
            title: "Sabre Ancillaries & Branded Fares",
            client: "Sabre Corporation",
            stack: "HTML, CSS, JS, PHP",
            thumb: { 
                desktop: "sabreairmerchandising-desktop.jpg",
                mobile: "sabreairmerchandising-mobile.jpg" 
            },
            desc: {
                main: "Web application showcasing available ancillaries for airline carriers within the Sabre marketplace.",
                more: "This application allows a travel agent to quickly search and filter thru the available airline ancillaries offered in Sabre products, a very useful travel agent tool."
            },
            link: "www.sabretravelnetwork.com/airmerchandising",
            features:[
                "Fully responsive for accessibility and use on any device.",
                "Content management interface using Single Sign On APIs to allow the owner of the application to update information as needed, using employee login credentials.",
                "Customized back-end API fetches query results from the database, constructs a JSON object, which is then returned to the front end.",
                "Multi dimensional search and filter functionality to allow the user to find information quickly and accurately.",
                "Export results as a CSV for offline access.",
                "One of the most viewed and widely used applications for the targeted customer base on the corporate website."
            ]
        },
        {
            title: "Marketing Self Assessment",
            client: "AdRoll",
            stack: "Vue, JS",
            thumb: { 
                desktop: "adroll-desktop.jpg",
                mobile: "adroll-mobile.jpg" 
            },
            desc: {
                main: "Interactive quiz designed to score/rate a user on their digital marketing efforts and tatics, and ultimatly generate potential leads.",
                more: "This website was developed to be used as the main marketing tool for this property management company. All the properties the company manages are listed and maintained via a highly customized Wordpress backend."
            },
            link: "www.adroll.com/resources/quizzes/marketing-self-assessment",
            features:[
                "Fully responsive for accessibility of all content on any device.",
                "Custom input components based on company style guide.",
                "VueJS application with state management for user responses.",
                "Each question has a max score, each response is a different score value, both have specific overall weight of importance.",
                "Developed a unique algorithm based on company requirements to process and generate feedback scores from user responses.",
                "Scores are tallied for each section, then averaged based on the weight of each section and individual question.",
                "Users are provided recommended company services based on their responses for each section." 
            ]
        },
        {
            title: "Brand Photo Library",
            client: "Sabre Corporation",
            stack: "Javascript, PHP",
            thumb: { 
                desktop: "photolibrary-desktop.jpg",
                mobile: null
            },
            desc: {
                main: "Internal web application to provide a repository of brand compliant and approved imagery to marketing employees.",
                more: "Essentially an in-house version of Shutterstock, this application allows employees in various departments to search, filter and sort hundreds of brand approved images for use online, in social media, and in presentations or events. Designers from across the company can submit images, which are reviewed by the Global Brand team, and once approved will become part of the collection."
            },
            link: null,
            features:[
                "Search, filter and sort hundreds of images based on keyword, category, popularity, and layout orientation (landscape, portrait)",
                "PHP backend with exposed API endpoints.",
                "Vanilla javascript frontend.",
                "Images can be uploaded in batches.",
                "Images are stored in AWS S3 service using AWS SDK for PHP.",
                "Images can be tagged and categorized for easy search functionality.",
                "Application tracks image popularity via a download index.",
                "Email notifications to users and admins upon image submission.",
                "SSO integration for administrator authentication.",
                "Dashboard for brand team administrators to manage submitted images (approve, reject, and edit individual images and/or details)."
            ]
        }
        // {
        //     title: "NAS Client",
        //     client: "House of Sticks",
        //     stack: "Laravel, Vue, Bootstrap",
        //     thumb: { 
        //         desktop: "hosnas-desktop.jpg",
        //         mobile: "hosnas-mobile.jpg" 
        //     },
        //     desc: {
        //         main: "In-house web application for production agency clients and vendors to access and share files stored on a network storage solution (NAS).",
        //         more: "Essentially a file sharing service, this application allows admins to create users, and assign projects to those users. Users can then login, view and contribute to project assets and files. Users have custom dashboards showing the projects they are assigned, along with files they have acces to for each project."
        //     },
        //     link: null,
        //     features:[
        //         "Fully responsive for accessibility and use on any device.",
        //         "Custom backend using Laravel, frontend using PHP and VueJS.",
        //         "Projects can have multiple users assigned for a Many-To-Many relationship.",
        //         "Separate Admin and User models and authentication, allowing admins to control every aspect of the application, including granting permissions to users.",
        //         "Admin dashboard allows admins to create, read, update, and delete (CRUD) all data contained in the application. Users are allowed to read, and update."
        //     ]
        // }
    ]
-
