-
    var work = [
        {
            title: "TBarM.org",
            client: "T Bar M / House of Sticks",
            stack: "Wordpress, PHP, JS",
            thumb: { 
                desktop: "tbarm-desktop.jpg",
                mobile: "tbarm-mobile.jpg" 
            },
            desc: {
                main: "An organization that hosts camps and retreats all year long for all ages and families.",
                more: "This website acts as the organizations main website with company info, promotions, as well as event calendars and agendas."
            },
            link: "www.tbarm.org",
            features:[
                "Fully responsive for accessibility of all content on any device.",
                "Custom Wordpress theme, built with a specific use case tailored to the design of the site.",
                "Utilizes a REST API to dynamically import event/camp information from the registration vendor.",
                "REST API is used to get the availability and booking information from registration vendor.",
                "Tailored PHP and Javascript functions process and format data from API to be utilized by Wordpress.",
                "Modular backend to allow client to organize content and create reusable content easily.",
                "Customizable content blocks allow creation of unique page layouts dynamically."
            ]
        },
        {
            title: "Customer On-boarding Portal",
            client: "Caliber Home Loans / House of Sticks",
            stack: "Laravel, Vue, Bootstrap",
            thumb: { 
                desktop: "caliber-desktop.jpg",
                mobile: null 
            },
            desc: {
                main: "Customer on-boarding portal for new customers of Caliber Home Loans, each customer has a unique url to view a personalized welcome video.",
                more: "This application is 90% automation, with only the admin GUI interface serving as a way to make edits or add small batches of customers at a time. Customers are imported via a CSV that can be manually uploaded via the GUI, or uploaded to the clients SFTP server. This application processes the CSV, generates a unique id and url for each customer, then adds the customer details to the application database. The front end is a simple Vimeo video with personalized customer information displayed in HTML overlaid on the video. The main goal of this application was to streamline a vary manual process for the client."
            },
            link: null,
            features:[
                "Business automation application: reads, processes, and writes processed data with minimal human interaction.",
                "Backend is Laravel, Front End is Vue and Bootstrap.",
                "Reads and writes CSV files for easy upload/export.",
                "Custom search with exportable search results.",
                "CSV exports formatted in a way to be ingested by clients CRM tool to generate and send customer emails automatically.",
                "Customer personal urls and information can be deleted automatically after desired expiration time, set within the application settings.",
                "Uses the Vimeo player API to control the timecode and playback of the video on the front end.",
                "Customer information is overlaid in HTML on top of the video player, thus allowing a single video source to be used."
            ]
        },
        {
            title: "Live At Magnolia",
            client: "Magnolia / House of Sticks",
            stack: "Wordpress, PHP, JS",
            thumb: { 
                desktop: "liveatmagnolia-desktop.jpg",
                mobile: "liveatmagnolia-mobile.jpg" 
            },
            desc: {
                main: "Property management marketing website for prospective residents to browse properties, amenities, and general information.",
                more: "This website was developed to be used as the main marketing tool for this property management company. All the properties the company manages are listed and maintained via a highly customized Wordpress backend."
            },
            link: "www.liveatmagnolia.com",
            features:[
                "Fully responsive for accessibility of all content on any device.",
                "Custom Wordpress theme, built with a specific use case tailored to the design of the site.",
                "Customized content types to handle and maintain property information/data.",
                "Utilizes a REST API to share property information with the corporate website.",
                "Dynamic forms built into the theme and are pre-populated with property information.",
                "Dynamic Google Maps API integration for property location and neighborhood information.",
                "Custom Wordpress backend built into the theme to create an easy to use backend for the company to update and completely manage the site in house."
            ]
        },
        {
            title: "Magnolia Property Company",
            client: "Magnolia / House of Sticks",
            stack: "Wordpress, PHP, JS",
            thumb: { 
                desktop: "magnoliapropcompany-desktop.jpg",
                mobile: "magnoliapropcompany-mobile.jpg" 
            },
            desc: {
                main: "Property management company website for corporate and business related information.",
                more: "This website was developed alongside their customer facing LiveAtMagnolia.com to provide corporate and business related information about Magnolia Property Company."
            },
            link: "www.magnoliapropcompany.com",
            features:[
                "Fully responsive for accessibility and use on any device.",
                "Consumes a RESTful API from LiveAtMagnolia.com for all of the property information, allowing all data to be controlled in one place and preventing having to double publish the same information.",
                "The RESTful API data is controlled via a custom plugin. Allowing data requested to be controlled from this site.",
                "Custom Wordpress backend built into the theme to create an easy to use backend for the company to update and completely manage the site in house.",
                "Javascript algorithms to calculate and combine various statistics about their property information. ",
                "Custom Wordpress theme, built with a specific use case tailored to the design of the site."
            ]
        },
        {
            title: "Sabre Air Merchandising",
            client: "Sabre Corporation",
            stack: "HTML, CSS, JS, PHP",
            thumb: { 
                desktop: "sabreairmerchandising-desktop.jpg",
                mobile: "sabreairmerchandising-mobile.jpg" 
            },
            desc: {
                main: "Web application showcasing available ancillaries for airline carriers within the Sabre marketplace.",
                more: "This application allows a travel agent to quickly search and filter thru the available airline ancillaries offered in Sabre products, a very useful travel agent tool."
            },
            link: "www.sabretravelnetwork.com/airmerchandising",
            features:[
                "Fully responsive for accessibility and use on any device.",
                "Custom backend using Single Sign On APIs to allow the owner of the application to update information as needed, using employee login credentials.",
                "Backend fetches query results from the database, constructs a JSON object, which is then returned to the front end.",
                "Multi dimensional search and filter functionality to allow the user to find information quickly and accurately.",
                "Export results as a CSV for offline access.",
                "One of the most viewed and widely used applications for the targeted customer base on the corporate website."
            ]
        },
        {
            title: "NAS Client",
            client: "House of Sticks",
            stack: "Laravel, Vue, Bootstrap",
            thumb: { 
                desktop: "hosnas-desktop.jpg",
                mobile: "hosnas-mobile.jpg" 
            },
            desc: {
                main: "Web application for creative agency clients and vendors to access and share files stored on a network storage solution (NAS).",
                more: "This application allows admins to create users, and assign projects to those users. Users can then login, view and contribute to project assets. Users have custom dashboards showing the projects they are assigned to."
            },
            link: null,
            features:[
                "Fully responsive for accessibility and use on any device.",
                "Custom backend using Laravel, frontend using PHP and VueJS.",
                "Projects can have multiple users assigned for a Many-To-Many relationship.",
                "Separate Admin and User models and authentication, allowing admins to control every aspect of the application, including granting permissions to users.",
                "Admin dashboard allows admins to create, read, update, and delete (CRUD) all data contained in the application. Users are allowed to read, and update."
            ]
        },
        // {
        //     title: "Marie & Russell",
        //     client: "Personal",
        //     stack: "Bootstrap, JS, PHP, MySQL",
        //     thumb: { 
        //         desktop: "marieandrussell-desktop.png",
        //         mobile: "marieandrussell-mobile.png" 
        //     },
        //     desc: {
        //         main: "Couples wedding website primarily for general event and ceremony information and to accept rsvps and comments.",
        //         more: "Post ceremony, this website also contains a stand alone gallery web app containing the full selection of photos taken during this wonderful occasion. The gallery can also be shared via a custom 'send to a friend' feature via email."
        //     },
        //     link: "www.marieandrussell.com",
        //     features:[
        //         "Design and full development.",
        //         "Fully responsive for both the ceremony website and gallery web app.",
        //         "Custom image favoriting system with PHP, JS/Ajax, and MySQL.",
        //         "Custom jQuery modal/lightbox filled with dynamic content from the DOM.",
        //         "Interactive map, using Google Map API, showing important locations for the event with custom location icons.",
        //         "Facebook, Twitter, and Email sharing."
        //     ]
        // }
    ]
-
