#about
    .container.content-section
        h2 About me
        p Based out of the Dallas/Fort Worth metroplex in Texas, I am a full stack developer working primarily in HTML, CSS, JavaScript, PHP, and MySQL. I have been working as a developer for ten years with projects ranging from simple static one page landing pages, complete Wordpress custom theme &amp; plugin development, to fully custom CRUD applications. When problem solving new challenges, I stick to a few core concepts - abstraction, reusability, and simplification. I am currently working as a Principal Web Developer for Sabre, an innovative technology company that provides B2B software solutions for its customers in the travel industry.
        p
            a.button(href="/resume.html" target="_blank") View resume
