#hero 
    .logo 
        a(href="#hero")
            img(src="images/rr_logo.svg" width="auto" height="auto" alt="Russell Ramey")
                
    .content 
        p Hello, my name is Russell Ramey...
        h1 I create things for the web
        br
        a.button.off-ctr(href="#work") View my work
