.hamburger
    #hamburger
        span
        span 
        span
        span

#nav
    ul.nav-menu
        li
            a(href="#about") About
        li
            a(href="#work") Work            
        li
            a(href="#tech") Tech
        li
            a(href="#connect") Connect
