include ../data/repos.pug

#projects
    .container.content-section
        h2 Quick Projects 
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis, neque ac consectetur sodales, nisl diam efficitur nibh, eget cursus velit libero non mi. Pellentesque varius leo in ante volutpat lobortis. Donec erat mi, blandit quis mi ac, consectetur dictum massa. Sed ipsum velit, consequat non magna a, lacinia suscipit mauris.
        
        ul.projects
            each repo in repos
                li.project-item
                    h3.project-title= repo.title
                    p.project-stack= repo.desc
                    a.project-more(href=repo.link) Learn more &raquo;
                    
        a.button(href="https://github.com/russellramey" title="View my Github Profile" target="_blank") View more on GitHub &raquo;
