include ../data/repos.pug

#projects
    .container.content-section
        h2 Quick Projects 
        p Below are some of my current open source projects. These are all hosted on my GitHub and are free to use. I created these simple projects to allow myself to build larger projects faster.
        
        ul.projects
            each repo in repos
                li.project-item
                    h3.project-title= repo.title
                    p.project-stack= repo.desc
                    a.project-link(href=repo.link target="_blank") Learn more &raquo;
                    
        a.button(href="https://github.com/russellramey" title="View my Github Profile" target="_blank") View more on GitHub &raquo;
