include ../data/repos.pug

#projects
    .container.content-section
        h2 Personal Projects 
        p Below are some of my current open source projects. These projects are usually born from a larger project when I see certain components could be useful on their own, learning or exploring a new technology, or to simplify functionality from existing "try to be universal" libraries!
        
        ul.projects
            each repo in repos
                li.project-item
                    h3.project-title= repo.title
                    p.project-stack= repo.desc
                    a.project-link(href=repo.link target="_blank") Learn more &raquo;
                    
        a.button(href="https://github.com/russellramey" title="View my Github Profile" target="_blank") View more on GitHub &raquo;
