include ../data/tech.pug

#tech
    .container.content-section
        h2 Technologies
        p Below are some of the most popular - and essential - web technologies I utilize to create the websites & apps that I build. I have adopted these as my “go to” technologies for building things on the web. I am fluent and proficient in all the languages, frameworks, version control, and software listed below.
        br
        ul.skills
            each skill in tech 
                li.tech-item(data-qt="" + skill.title + "")
                    img(src="images/tech/" + skill.icon + "" width="auto" height="auto" alt="" + skill.title + "")
        br.clearfix
        a.button(href="/resume/#skills" title="View more skills" target="_blank" style="clear:both") View all
