extends layouts/default_layout 

block title 
    title Full Stack Web Developer / Russell Ramey

block content 
    include ./components/nav
    include ./components/hero
    include ./components/about
    include ./components/work
    include ./components/projects
    include ./components/tech
    include ./components/connect
    include ./components/footer
    include ./components/modal
