extends layouts/default_layout 

block title 
    title Russell Ramey / Full Stack Developer

block content 
    include ./components/nav
    include ./components/hero
    include ./components/about
    include ./components/work
    include ./components/projects
    include ./components/tech
    include ./components/connect
    include ./components/contact
