extends layouts/default_layout 

block title 
    title Full Stack Web Developer / Russell Ramey

block content 
        
    #resume
        #brand
            .container.content-section 
                a(onclick="javascript:window.top.close()" href="/")
                    img(src="images/rr_logo.svg" width="auto" height="auto")
                h1 Russell Ramey 
                p Full Stack Web Developer
                ul
                    li p: 214.534.1324 
                    li e: russelljramey@gmail.com
                    li w: russellramey.me
        
        #about
            .container.content-section 
                h2 Introduction
                p Based out of the Dallas/Fort Worth metroplex, I am a front-end designer and web developer working mainly in HTML, CSS, JavaScript (jQuery), PHP, and MySQL. I have been working as a developer for six years with projects ranging from simple static one page html/css pages, to complete Wordpress theme development, to full scale eCommerce sites using wooCommerce for Wordpress. I am currently working as the Senior Web Developer & Designer for Sabre, an innovative technology company that provides B2B software solutions for its customers in the travel industry.

        #work
            .container.content-section 
                h2 Work Experience
        
        #skills 
            .container.content-section
                h2 Technologies
                p Below are some of the most popular - and essential - web technologies I utilize to create the websites & apps that I build. I have adopted these as my “go to” technologies for building things on the web. I am fluent and proficient in all the languages, frameworks, version control, and software listed below.
                
                .column-list
                    ul.bullets
                        li HTML5
                        li CSS3
                        li Sass
                        li JavaScript
                        li jQuery
                        li Bootstrap
                        li MySQL
                        li PHP
                        li Jekyll
                        li Wordpress
                        li Bolt CMS
                        li Git / SVN
                        li Github / Bitbucket
                        li Linux
                        li Apache
                        
        #education
            .container.content-section
                h2 Education
                    h3 B.F.A. Graphic Design
                    p Texas Tech University / May 2005
                    p Graduated with a B.F.A in Design Communication from the college of Visual & Performing Arts and Member of the Design Comm Association.
        
        #hobbies
            .container.content-section 
                h2 Hobbie & Interests
                
                .column-list
                    ul.bullets
                        li All things web
                        li Internet of Things
                        li Computers / Gadgets
                        li Raspberry Pi / Makers
                        li Science & Technology
                        li Gaming
                        li Mountain Biking
                        li Snowboarding
                        li Happy Hours
                        li Craft beer
                    
        #awards
            .container.content-section 
                h2 Awards & Accomplishments
                ul.bullets
                    li Black Belt in Tae Kwon Do
                    li Black Belt in Kobudo
                    li Eagle Scout in Boy Scouts of America

        #connect
            .container.content-section 
                h2 Connect 
                p Want to get in touch with me? Use the information below to drop me a line and I will get in contact with you as soon as I can!
                ul.bullets
                    li Phone: 214.534.1324
                    li Email: russelljramey@gmail.com
                    li Web: russellramey.me
