doctype html
html(lang='en')
    head
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(charset='utf-8')
        meta(name="google-site-verification" content="ClWn4VufbSpnMgUy1edlfRLFqRXyJFKvECzf5u0B3nQ")
        meta(name="description" content="Web developer and front-end designer working mainly in HTML, CSS, JavaScript, PHP, and MySQL.")
        meta(name="keywords" content="HTML, CSS, JavaScript, jQuery, PHP, Wordpress, Bootstrap, HTML5, CSS3, Linux, LAMP, Website, Web Dev, Web developer, Web development, Graphic design, Web design, UX, Interactive, Interactive design, Interactive development, App, App development, Web app, Web applications, Web, Internet, World Wide Web, www")
        meta(name="author" content="Russell Ramey")
        meta(name="shortcut icon" href="/favicon.ico")
        block title 
        link(href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet" type="text/css")
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700" rel="stylesheet" type="text/css")
        link(href="css/style.css" rel="stylesheet")
    body

        #wrapper
            block content
                
        block contact
        
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        script(src="js/app.js")        
