#hero
	text-align: center
	position: relative
	//background: #fff url('../images/hero-bkg.jpg') center center no-repeat fixed
	background-size: cover
	-moz-background-size: cover
	-webkit-background-size: cover
	-o-background-size: cover
	height: 100vh
	border-bottom: 1px solid #161b22

	.content
		position: absolute
		width: 100%
		top: 50%
		transform: translateY(-50%)
		margin-top: 0px

		p
			font-size: 21px
			margin-bottom: 0

	.logo
		width: 70px
		margin: 0 auto
		text-align: center
		padding: 30px 0
		position: absolute
		left: 50%
		margin-left: -35px
		margin-top: -8px
		img
			width: 100%

// Responsiveness
@media screen and (max-width: 640px)
	#hero
		background-attachment: scroll

		.content
			padding: 0 30px
			top: 48%

			p
				font-size: 16px

			h1
				font-size: 36px
				line-height: 1.2em
				margin-top: 10px
