#resume

	// Global
	.bullets
		list-style: disc
		margin-left: 30px

	.column-list
		columns: 3

		@media screen and (max-width:640px)
			columns: 2

	// Container
	.content-section
		padding: 40px 15px
		overflow: visible

	// Headlines
	h1
		text-align: left

	h2
		margin-bottom: 30px
		text-align: left

	h3
		text-align: left

	// Logo/header
	#brand

		h1
			font-size: 36px
			text-transform: uppercase

		img
			margin-bottom: 20px
			margin-left: -17px


	// Experience
	.job-item
		margin-bottom: 40px

		.job-type
			font-size: 11px
			text-transform: uppercase
			color: #333
			background: #e4e4e4
			padding: 5px 10px
			border-radius: 10px
			display: inline-block
			line-height: 1
			margin-bottom: 12px
			border: 0
			font-weight: normal

		.job-title
			text-align: left
			margin-bottom: 5px

		.job-meta
			margin: 0
			margin-top: -5px
			margin-bottom: 10px
			font-size: 14px
			color: #999
			text-transform: uppercase
