#tech
    background: #eee
    border-top: 1px solid #e5e5e5
    border-bottom: 1px solid #e5e5e5

    .container
        background: none

    .clearfix
        clear: both

    .button
        display: block
        text-align: center
        max-width: 120px
        margin: 0 auto
        margin-top: 30px

    li.tech-item
        padding: 15px
        border: 1px solid #e4e4e4
        background: #fff
        float: left
        width: 25%
        display: inline-block
        transition: all 200ms ease-in-out
        position: relative

        @media screen and (max-width:640px)
            width: 50%

        &:hover
            transform: scale(1.075)
            z-index: 1
            box-shadow: 0 0 10px rgba(0,0,0,.25)
