#tech
    background: #eee

    li.tech-item
        padding: 15px
        border: 1px solid #e4e4e4
        background: #fff
        float: left
        width: 25%
        display: inline-block
        transition: all 200ms ease-in-out
        position: relative

        &:hover
            transform: scale(1.075)
            z-index: 1
            box-shadow: 0 0 10px rgba(0,0,0,.25)
