// Global
body
    font-family: 'Roboto', helvetica, arial, sans-serif
    font-size: 20px
    line-height: 1.6em
    -webkit-text-size-adjust: none
    color: #555555
    font-weight: normal
    font-weight: 300


// Headings
h1
    font-size: 56px
    font-family: 'bitter', helvetica, arial, sans-serif
    font-weight: bold
    font-weight: 700
    line-height: 1.4em
    color: #333

h2
    font-size: 24px
    font-family: 'bitter', helvetica, arial, sans-serif
    text-transform: uppercase
    font-weight: bold
    line-height: 1.4em
    margin-bottom: 50px
    color: #333

h3
    font-size: 22px
    font-family: 'bitter', helvetica, arial, sans-serif
    font-weight: normal
    line-height: 1em
    margin-bottom: 10px
    color: #333


// Paragraph
p
    margin: 0px 0 20px 0

strong, b
    font-weight: bold

em, i
    font-style: italic


// Links
a, a:active,
a:visited
    color: #333
    text-decoration: none
    transition: all .25s ease
    -moz-transition: all .25s ease
    -webkit-transition: all .25s ease
    outline: none !important

    &:hover
    	color: #999
